. {
    width: auto;
    height: auto;
   

 
}

header{
    background-color: #1f2937;

    
}

nav{
    
    display: flex;
    justify-content: flex-end;
    
}

a{
    display: block;
    padding-left: 10px;
    margin-right: 2%;
}
