* {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    text-align: center;
 
}

.container {
    display: flex;
    flex-direction: column;
}
header{
    background-color: #1f2937;  
    
}

header nav{
    display: flex;
    justify-content: flex-end;
    
}
header nav a{
    display: block;
    padding-left: 10px;
    margin-right: 2%;
}

.intro{
    display: flex;
    background-color: #1f2937;
    padding: 3%;
    justify-content: center;
    align-items: center;
    
}

.gym-guy-image img{
    width: 400px;
    height: 300px;
}

.random-info{
    display: flex;
    justify-content: center;
    justify-content: space-between;

}

.random-info .gym-key{
    height: 350px;
    width:  350px;
    padding: 3%;
   
    
}

.references{
    display: block;
    padding: 5%;
    margin: 5%;
}

